*{
    margin: 0px;
    font-family: "inter";
}

#logo{
    margin: 50px 0px 0px 50px;
}

#titulo-menusuperior{
    margin: 50px 0px 0px 150px;
}

#texto-menusuperior{
    margin: 35px 0px 0px 150px;
    padding-bottom: 100px;
}

#menusuperior{
    background-image: url(images/fundo-menusuperior.svg);
    color: white;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 10px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 0px 50px 100px;
}

#carrosel{
    background-color: #247BA0;
    padding: 50px;
}

#titulo-carrosel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#seta-esquerda{
    display: none;
}

#Bruna{
    display: none;
}

.seta{
    margin-top: 55%;
    cursor: pointer;
}

.seta:hover {
    transform: translateY(-7px);
    transition: 0.5s;
    }

#formulario{
    text-align: center;
}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    width: 413px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247Ba0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #3096c2;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0px 15px 20px #393b3c76;
    transition-duration: 0.5;
}

